.filter {
  position: fixed;
  width: 25vh;
}
.content {
  margin-left: 320px;
  height: inherit;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media screen and (max-width: 500px) and (min-width: 411px) {
  .content,
  .landing {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

@media screen and (max-width: 411px) {
  .content,
  .landing {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}


.header {
  margin-left: 300px;
  margin-top: 0px;
}

.inputs {
  border-radius: 15px;
  border: 2px solid #d3d3d3;
  background-color: #d3d3d3;
  text-align: center;
}

.inputs:focus {
  outline: none;
}

.material-icons {
  color: #d3d3d3;
}

.material-icons:hover {
  color: black;
}

.table {
  width: 100%;
}

.edit {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: fixed;
  padding: 0 16px 16px 0;
  border-radius: 4px;
  top: 55px;
  right: 0;
  width: 82.8%;
}

.edit p {
  margin-left: 50px;
  display: block;
  font-weight: 500;
}

.loader {
  margin-top: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thead-light {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 500px) and (min-width: 411px) {
  .header {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 75vh;
    margin-left: 0px;
    font-size: smaller;
  }
}

@media screen and (max-width: 411px) {
  .header {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 75vh;
    margin-left: 0px;
    font-size: small;
  }
}

.loadSlider{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}