<div class="wrapper">
  <mat-tab-group>
    <mat-tab label="Addos Reporting Status">
      <div class="column">
        <div class="col-sm-12">
          <ngx-dhis2-selection-filters (filterUpdate)="onFilterUpdateAction($event)" [dataSelections]="dataSelections"
            [selectionFilterConfig]="selectionFilterConfig" (update)="onFilterUpdateAction($event)">
          </ngx-dhis2-selection-filters>
        </div>
        <div class="col-sm-12" *ngIf="(organisationUnitChildrenLoaded$ | async) && !(isLeafOrganisation$ | async)">
          <div *ngIf="selectedOrganisationUnitStatus$ | async">
            <mat-card class="col-sm-12" style="margin: 20px 0px 5px 0px;">
              <h4 class="header">
                Addos Reporting Status in
                {{ (selectedOrganisationUnit$ | async) ? (selectedOrganisationUnit$ | async).name : "" }}
                for
                {{getSelections ? getSelections['items'][0].name: 'LAST_MONTH'}}
              </h4>
            </mat-card>
          </div>

          <div class="row" style="margin: 20px 0px 5px 0px;">
            <button class="btn btn-primary" style="margin-right: 10px;">
              Showing Addos
            </button>
            <button class="btn btn-primary" style="margin-right: 10px;">
              Showing Addos
            </button>
            <button class="btn btn-primary" style="margin-right: 10px;">
              Showing Addos
            </button>
            <button *ngIf="(organisationUnitChildrenLoaded$ | async) && !(isLeafOrganisation$ | async)
            " class="btn btn-outline-secondary" (click)="downloadCSV()">
              Save Excel
            </button>
          </div>
          <div *ngIf="orgunitchildren">
            <table class="table table-bordered table-hover table-sm text-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Addo</th>
                  <th>Code</th>
                  <th>Village</th>
                  <th>Owner's Contact</th>
                  <th>Dispenser's Contact</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let facility of orgunitchildren let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ facility.name }}</td>
                  <td>{{ facility.code }}</td>
                  <td>{{ facility.parent }}</td>
                  <td (click)="onEditChild(facility)">{{ facility.phoneNumber }}</td>
                  <td (click)="onEditChild(facility)">{{ facility.attributeValues }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row mx-0 w-100 pt-2 d-flex justify-content-between">
            <mat-form-field appearance="outline" class="w-25" autocomplete="false">
              <mat-label>Search</mat-label>
              <mat-icon matPrefix>search</mat-icon>
              <input matInput (keyup)="($event)">
            </mat-form-field>
          </div>
          <div>
            <table class="table table-hover table-sm text-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Addo</th>
                  <th>Code</th>
                  <th>Village</th>
                  <th>Owner's Contact</th>
                  <th>Dispenser's Contact</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let facility of reportedAddos let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ facility.name }}</td>
                  <td>{{ facility.code }}</td>
                  <td>{{ facility.parent }}</td>
                  <td (click)="onEditChild(facility)">{{ facility.phoneNumber }}</td>
                  <td (click)="onEditChild(facility)">{{ facility.attributeValues }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="loader" [hidden]="organisationUnitChildrenLoaded$ | async">
          <h3 [hidden]="!(selectedOrganisationUnitStatus$ | async)"> <img src="assets/icons/balls-3.svg" />
          </h3>
          <h2>
            {{
                (selectedOrganisationUnit$ | async) ? (selectedOrganisationUnit$ | async).name
                + " " + "Addos Loading" : ""
              }}
          </h2>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="SMS Automation">
      <app-sms></app-sms>
    </mat-tab>
  </mat-tab-group>
</div>
