<mat-tab-group style="margin: 0 0 0 0;">
  <mat-tab label="Not Reported Addos" style="margin: 0 0 0 0;">
    <ng-template matTabContent style="margin: 0 0 0 0;">
      <div class="row">
        <div class="col-sm-3">
          <ngx-dhis2-org-unit-filter
            [orgUnitFilterConfig]="orgUnitFilterConfig"
            (orgUnitUpdate)="onOrgUnitUpdate($event)"
            (orgUnitClose)="onOrgUnitUpdate($event)"
          >
          </ngx-dhis2-org-unit-filter>
          <mat-form-field>
            <mat-label>Period</mat-label>
            <mat-select>
              <mat-option *ngFor="let period of periods" [value]="period.value">
                {{ period.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p>Month selected: {{ selected }}</p>
        </div>
        <div class="col-sm-9">
          <div class="row" *ngIf="selectedOrganisationUnitStatus$ | async">
            <mat-card class="col-sm-12 downs">
              <h4 class="header">
                Addos Not Reported from
                {{
                  (selectedOrganisationUnit$ | async)
                    ? (selectedOrganisationUnit$ | async).name
                    : ""
                }}
                in {{ getMonth }},
                {{ getYear }}
              </h4>
              <button
                class="btn btn-outline-secondary"
                (click)="downloadCSV($event)"
              >
                Save Excel
              </button>
            </mat-card>

            <div
              class="col-sm-12"
              *ngIf="
                (organisationUnitChildrenLoaded$ | async) &&
                !(isLeafOrganisation$ | async)
              "
            >
              <div class="div-tabl" style="margin-top:20px">
                <div class="col-sm-5" style="padding-bottom:10px;">
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Search......."
                    [(ngModel)]="filter"
                    style="border-top: none; border-left: none; border-right: none; border-radius: none;"
                  />
                </div>

                <table
                  mat-table
                  class="table table-hover table-fixed"
                  id="excel-table"
                >
                  <thead class="thead-light">
                    <tr>
                      <th scope="col" class="sn">S/N</th>
                      <th scope="col">Name</th>
                      <th scope="col">Code</th>
                      <th scope="col">Contact Person</th>
                      <th scope="col">Dispenser's Contact</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let orgunitChild of organisationUnitChildren$
                          | async
                          | filter: filter
                          | paginate: { itemsPerPage: 30, currentPage: p };
                        let count = index
                      "
                      (click)="onEditChild($event, orgunitChild)"
                    >
                      <td>{{ count + 1 }}</td>
                      <td>{{ orgunitChild.name }}</td>
                      <td *ngIf="orgunitChild.code">{{ orgunitChild.code }}</td>
                      <td *ngIf="!orgunitChild.code">Code Missing</td>
                      <td *ngIf="orgunitChild.phoneNumber">
                        {{ orgunitChild.phoneNumber }}
                      </td>
                      <td *ngIf="!orgunitChild.phoneNumber">
                       Missing Contact Details
                      </td>

                      <td *ngIf="orgunitChild.attributeValues[0]">
                        {{ orgunitChild.attributeValues[0].value }}
                      </td>
                      <td *ngIf="!orgunitChild.attributeValues[0]">
                       Missing Contact Details
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p class="pagination">
                  <pagination-controls
                    (pageChange)="p = $event"
                  ></pagination-controls>
                </p>
              </div>
            </div>
            <div
              *ngIf="!(organisationUnitChildrenLoaded$ | async)"
              class="col-sm-12 loader"
            >
              <img src="assets/icons/balls-3.svg" />
              <h2 class="loadSlider">
                Fetching
                {{
                  (selectedOrganisationUnit$ | async)
                    ? (selectedOrganisationUnit$ | async).name
                    : ""
                }}
                Addos
              </h2>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="SMS Automation">
    <ng-template matTabContent>
      <app-sms></app-sms>
    </ng-template>
  </mat-tab>
</mat-tab-group>
