<div class="containter">
  <h4>Facility Details</h4>
  <p>
    <span
      class="label"
      *ngIf="data.organisationUnit.name"
      style="color:black; font: bolder; font-size: 20px;"
      >Name:
    </span>
    {{ data.organisationUnit.name }}
  </p>

  <p>
    <span
      class="label"
      *ngIf="data.organisationUnit.displayName"
      style="color:black; font: bolder; font-size: 20px;"
      >Short Name:</span
    >
    {{ data.organisationUnit.displayName }}
  </p>

  <p>
    <span
      class="label"
      *ngIf="data.organisationUnit.lastUpdated"
      style="color:black; font: bolder; font-size: 20px;"
      >Last Updated:
    </span>
    {{ data.organisationUnit.lastUpdated }}
  </p>

  <p>
    <button
      mat-raised-button
      (click)="onClose($event)"
      style="margin-top: 40px;"
      class="btn"
    >
      CANCEL
    </button>
  </p>
</div>
