.filter {
  position: fixed;
  width: 25vh;
}
.content {
  margin-left: 320px;
  height: inherit;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media screen and (max-width: 500px) and (min-width: 411px) {
  .content,
  .landing {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}

@media screen and (max-width: 411px) {
  .content,
  .landing {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
