/* You can add global styles to this file, and also import other style files */

html,
body {
  height: auto;
  overflow-x: hidden !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: black;
}

@media screen and (max-width: 500px) and (min-width: 411px) {
  body,
  html {
    font-size: small;
  }
}

@media screen and (max-width: 411px) {
  body,
  html {
    margin-left: 0px;
    font-size: small;
  }
}
.blue-snackbar {
  background: green;
}
