<div
  class="table-responsive"
  *ngFor="let table of legends ? legends['legendSets'] : ''"
  style="margin: 10px;"
>
  <table
  class="table table-hover table-fixed"
  id="excel-table">
    <thead class="thead-light">
      <tr scope="col">
        <th scope="col">Start Value</th>
        <th scope="col">End Value</th>
        <th scope="col">Color</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of table['legends']" scope="row">
        <td>{{ row["startValue"] }}</td>
        <td>{{ row["endValue"] }}</td>
        <td [style.background-color]="row['color']"></td>
        <td (click)="onMessageEdit($event, row)" class="messagedit">
          {{ row["message"] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
