<div class="content">
  <div class="row">
    <div class="col-md-12" *ngIf="selectedOrgunitChild$ | async">
      <h2 style="margin-bottom: 20px;">
        Editing Details for {{ organisationUnit.name }}
      </h2>
      <form [formGroup]="organisationUnitForm" class="example-form">
        <mat-form-field
          class="example-full-width"
          MatFormFieldControl="phoneNumber"
        >
          <input
            matInput
            type="tel"
            placeholder="Phone Number"
            formControlName="phoneNumber"
          />
        </mat-form-field>

        <mat-form-field
          class="example-full-width"
          MatFormFieldControl="attributeValues"
        >
          <input
            matInput
            type="tel"
            placeholder="Dispenses Facility Phone Number"
            formControlName="attributeValues"
          />
        </mat-form-field>

        <button
          (click)="saveOrgunit($event)"
          mat-raised-button
          color="primary"
          *ngIf="organisationUnitForm.valid"
          type="submit"
          class="btn btn-success"
        >
          SAVE
        </button>

        <button
          mat-raised-button
          (click)="onCancel($event)"
          class="cancel"
          type="button"
        >
          CANCEL
        </button>
      </form>
    </div>
  </div>
</div>
